.nav-item a{
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.nav-item a:hover{
    background-color: #acacac;
}

.title{
    font-size: 30px;
}

/* canvas {
	background-color: #fff;  
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
} */

#wrapper {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#stage {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 10;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#strings {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 10;
    top: 0;
    left: 0;
    z-index: 9;
}

.chord > p{
    font-size: 23px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#naturals {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 30%;
    bottom: 0px;
    /* color: black; */
    /* background-color: black; */
}

.chord{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 33.3%;
    background-color: black;
    /* border: 1px solid #343a40; */
    border: none;
    position: relative;
    align-items: center;
    /* padding: 3px; */
}

.chord:hover{
  opacity: 50%;
  color: black;
}

.chord > p{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

/* 
background-color: #8bc34a;
background-color: #ffea59;
background-color: #ffc107;
background-color: #ff5722;
background-color: #259b24;
background-color: #cddc39;
background-color: #ff9800;
background-color: #e51c23;
background-color: #3454b2;
background-color: #03a9f4;
background-color: #00bcd4;
background-color: #9c27b0;
*/
#chorda{
  background-color: #8bc34a;
  text-decoration: underline;
}

#chordas{
  background-color: #ffea59;
}

#chordb{
  background-color: #ffc107;
}

#chordc{
  background-color: #ff5722;
}

#chordcs{
  background-color: #259b24;
}

#chordd{
  background-color: #cddc39;
}

#chordds{
  background-color: #ff9800;
}

#chorde{
  background-color: #e51c23;
}

#chordf{
  background-color: #3454b2;
}

#chordfs{
  background-color: #03a9f4;
}

#chordg{
  background-color: #00bcd4;
}

#chordgs{
  background-color: #9c27b0;
}

#clef{
    position: absolute;
    left: 5%;
    top: 162px;
    width: 100px;
    height: 230px;
}

#clef img{
position: absolute;
height: 100%;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
user-drag: none; 
-webkit-user-drag: none;
}

.notes {
    display: block;
    margin: auto;
    position: absolute;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
    min-width: 300px;
    height: 300px;
    border: 0px solid #000;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .note1,
  .note2,
  .note3,
  .note4,
  .note5,
  .note6 {
    position: absolute;
    animation: notes 3s forwards linear;
    font-size: 35px;
    opacity: 0;
  }

  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    25% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(200%, -200%);
      opacity: 0;
    }
  }

  #usercount{
      position: relative;
      top: 7px;
      right: 15px;
      color: white;
  }